<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>iconKey</key>
		<string>index_zz</string>
		<key>titleKey</key>
		<string>转账</string>
	</dict>
	<dict>
		<key>iconKey</key>
		<string>index_qianbao</string>
		<key>titleKey</key>
		<string>钱包</string>
	</dict>
	<dict>
		<key>iconKey</key>
		<string>index_store</string>
		<key>titleKey</key>
		<string>积分商城</string>
	</dict>
	<dict>
		<key>iconKey</key>
		<string>index_kq</string>
		<key>titleKey</key>
		<string>卡券</string>
	</dict>
	<dict>
		<key>iconKey</key>
		<string>index_zd</string>
		<key>titleKey</key>
		<string>账单</string>
	</dict>
    <dict>
        <key>iconKey</key>
        <string>index_jifen</string>
        <key>titleKey</key>
        <string>积分</string>
    </dict>
    <dict>
        <key>iconKey</key>
        <string>index_bank</string>
        <key>titleKey</key>
        <string>银行卡</string>
    </dict>
</array>
</plist>
