<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>zh_CN</key>
	<array>
		<dict>
			<key>type</key>
			<string>0</string>
			<key>title</key>
			<string>中国农业银行储蓄卡（2157）</string>
			<key>limit</key>
			<string>10000</string>
			<key>state</key>
			<string>0</string>
			<key>available</key>
			<string>1</string>
		</dict>
		<dict>
			<key>type</key>
			<string>1</string>
			<key>title</key>
			<string>中国工商银行储蓄卡（3157）</string>
			<key>limit</key>
			<string>10000</string>
			<key>state</key>
			<string>1</string>
			<key>available</key>
			<string>1</string>
		</dict>
		<dict>
			<key>type</key>
			<string>2</string>
			<key>title</key>
			<string>中国建设银行储蓄卡（4157）</string>
			<key>limit</key>
			<string>10000</string>
			<key>state</key>
			<string>1</string>
			<key>available</key>
			<string>1</string>
		</dict>
		<dict>
			<key>type</key>
			<string>3</string>
			<key>title</key>
			<string>中国交通银行信用卡（5157）</string>
			<key>limit</key>
			<string>10000</string>
			<key>state</key>
			<string>1</string>
			<key>available</key>
			<string>0</string>
		</dict>
		<dict>
			<key>type</key>
			<string>4</string>
			<key>title</key>
			<string>中国光大银行信用卡（6157）</string>
			<key>limit</key>
			<string>10000</string>
			<key>state</key>
			<string>1</string>
			<key>available</key>
			<string>0</string>
		</dict>
		<dict>
			<key>type</key>
			<string>5</string>
			<key>title</key>
			<string>中国招商银行信用卡（7157）</string>
			<key>limit</key>
			<string>10000</string>
			<key>state</key>
			<string>1</string>
			<key>available</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
