<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>zh_CN</key>
	<array>
		<array>
			<dict>
				<key>row</key>
				<string>0</string>
				<key>title</key>
				<string>账户管理</string>
			</dict>
			<dict>
				<key>row</key>
				<string>1</string>
				<key>title</key>
				<string>支付设置</string>
			</dict>
			<dict>
				<key>row</key>
				<string>2</string>
				<key>title</key>
				<string>登陆密码</string>
			</dict>
			<dict>
				<key>row</key>
				<string>3</string>
				<key>title</key>
				<string>支付密码</string>
			</dict>
			<dict>
				<key>row</key>
				<string>4</string>
				<key>title</key>
				<string>手机号</string>
			</dict>
			<dict>
				<key>row</key>
				<string>5</string>
				<key>title</key>
				<string>设置密保</string>
			</dict>
			<dict>
				<key>row</key>
				<string>6</string>
				<key>title</key>
				<string>客服中心</string>
			</dict>
			<dict>
				<key>row</key>
				<string>7</string>
				<key>title</key>
				<string>关于我们</string>
			</dict>
			<dict>
				<key>row</key>
				<string>8</string>
				<key>title</key>
				<string>帮助中心</string>
			</dict>
		</array>
	</array>
</dict>
</plist>
